@font-face {
  font-family: Araboto-Normal;
  src: url(../fonts/araboto-normal-400.ttf);
}

@font-face {
  font-family: Araboto-Thin;
  src: url(../fonts/araboto-thin-400.ttf);
}

@font-face {
  font-family: Araboto-Bold;
  src: url(../fonts/araboto-bold-400.ttf);
}



*, *::before, *::after {
  box-sizing: border-box;
  font-family: ;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
  background-image: linear-gradient(30deg, rgb(161, 130, 72), rgb(171, 171, 235));
}

.artist-container {
  display: grid;
  height: 30vh;
  width: 60vw;
  margin: 3vh auto;
  background-color: white;
  border-radius: 5px;
  grid-template-columns: 25% 55% 20%;
}

.artist-pic-container {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}
.artist-profile-pic {
  height: 150px;
  width: 150px;;
  border-radius: 50%;
  margin: 0 auto;
}

.artist-name  {
  margin: 0;
  font-family: 'Araboto-Bold', sans-serif;
  font-size: 3.5vh;
}

.artist-name-container {
  height: fit-content;
}

.name-bio-container {
  display: grid;
  place-content: center;
}

.artist-bio {
  font-family: 'Araboto Thin', sans-serif;
  font-size: 2vh;
  margin: 0;
  color: rgb(165, 164, 164);
}

.artist-bio-label {
  margin: 0;
  font-family: "Araboto-Bold", sans-serif;
  font-size: 2.1vh;
  color: grey;
}

.email-phone-container {
  display: grid;
  place-content: center;
}

.artist-phone-container {
  height: fit-content;
  margin: 0;
}

.artist-phone {
  font-size: 2vh;
  font-family: "Araboto-Normal", sans-serif;
  margin: 0;
  color: rgb(238, 39, 238);
}

.artist-phone-label {
  margin: 0;
  font-size: 2vh;
  font-family: 'Araboto-Bold', sans-serif;
}

.artist-email-container {
  height: fit-content;
}

.artist-email {
  margin: 0;
  font-size: 2vh;
  font-family: 'Araboto-Normal';
  color: rgb(238, 39, 238);
}

.artist-email-label {
  margin: 0;
  font-size: 2vh;
  font-family: 'Araboto-Bold';
}

/*
  ALBUM STYLES
*/

.album-containers {
  height: 70vh;
  width: 100vw;
}

.album-container {
  display: grid;
  grid-template-rows: auto auto auto;
}

.album-image-container {
  position: relative;
  height: 150px;
  width: 300px;
}

.album-image {
  height: 150px;
  width: 250px;
  border-radius: 5px;
}


.album-title {
  font-family: 'Araboto-Normal';
  font-size: 2.2vh;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 8%;
  left: 2%;
}

.
